.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper {
  margin-right: 20px;
}

@media screen and (max-width: 521px) {
  .menu-item-wrapper {
    margin-right: 15px;
  }
}

.menu-item.active {
  /* border: 1px green solid; */
}
.menu-wrapper--inner {
  /* margin-left: -140px; */
}

